.BadgesList ul>li {
  margin-bottom: 1rem;
}

.BadgesListItem {
  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  display: flex;
  padding: 1rem;
}

.BadgesListItem__avatar {
  border-radius: 50%;
  background: #a3a3a3;
  margin-right: 0.5rem;
  width: 80px;
  height: 80px;
}


.CharacterCard {
  width: 100%;
  height: 320px;
  background: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 1rem;
  position: relative;
}

.CharacterCard__name-container {
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem 0.5rem;
}

.text-truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.italic{
  font-style: italic;
}

p{
  margin-bottom: 0.3rem;
}
